{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
    fail_on_warning,
	debug_info
]}.

{deps_dir, ["deps"]}.
{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

{deps,
    [
        {lager,           ".*", {git, "https://github.com/basho/lager.git",           "master"}},
        {elli,            ".*", {git, "https://github.com/knutin/elli.git",           "master"}},
        {elli_access_log, ".*", {git, "https://github.com/wooga/elli_access_log.git", "master"}},
        {uuid,            ".*", {git, "https://github.com/avtobiff/erlang-uuid.git",  "master"}},
        {jiffy,           ".*", {git, "https://github.com/davisp/jiffy.git",          "master"}}
    ]}.
